
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 16px 40px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    background: #28a475;
}
.navbar-container .hamburger-lines{
    display: none;
}
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: black;
    z-index: 999;
}
.navbar-container{
 display: flex;
 justify-content:space-between ;
 height: 64px;
 align-items: center;
}
 .menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 48px;
} 
.menu-items li{
    list-style: none;
    margin-left: 24px;
    font-size: 28.8px;
}
.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
}
.navbar a:hover{
    color:blue;
}
.showcase-area{
    height: 50vh;
    background: url("head.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size :25.6px;
}
.main-title{
    text-transform: uppercase;
}
#about{
    padding: 50px 0px;
    background: #f5f5f7;
}
.about-wrapper{
    display: flex;
    flex: wrap;
}
#about h2{
    font-size: 51.2;
}
#about p{
    font-size: 25.6px;
    color: #555;
}
#about .small{
    font-size: 25.6px;
    color: #666;
    font-weight: 600;
}
.about-img{
flex-grow: 1;
flex-shrink: 1;
flex-basis: 400px;
padding: 30px;
transform: translateX(150%);
animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
    100%{
        transform:translateX(0);
    }  
}
.about-text{
flex-grow: 1;
flex-shrink: 1;
flex-basis: 400px;
padding: 30px;
margin: auto;
transform: translate(-150%);
animation: about-text-imagination 1s ease-in-out forwards;
}
@keyframes about-text-imagination {
    100%{
        transform:translate(0);
    }
}
.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
#food{
    padding: 80px 0 160px 0;
}
#food h2{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width:100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 16px;
    position: relative;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition:all 0.3s ease-in-out 0.1s;
}
.img-content h3{
 color: #fff;
 font-size: 48px;
}
.img-content a{
    font-size: 19.2px;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);

}
.img-container:hover .img-content{
opacity: 1;
top: 40%;
}
.food-menu-heading{
    font-size: 40px;
    text-align: center;
    font-weight: 400px;
    color: #666;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}
.food-menu-container img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.food-description{
    margin: auto 15px;
}
.food-title{
    font-size: 14px;
    font-weight: 400;
    color: #444;
}
.food-description p{
    font-size: 14px;
    color: #555;
    font-weight: 500;
}
.food-description .food-price{
    color: #117964;
    font-weight: 700;
}
#testimonials{
    padding: 50px 0;
    background: rgb(243, 243, 243);
}
.testimonial-title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #555;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
}
.testimonial-box .testimonial-text{
    margin: 10px 0;
    color: #444;
}
.testimonial-box{
    text-align: center;
    padding: 10px;
}
.customer-photo img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
#contact{
    padding: 50px 0;
    background: rgb(226, 226, 226);
}
.contact-container{
    display: flex;
    background: #fff;
}
.contact-image{
    width: 50%;
}
.contact-image img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.form-container {
    padding: 10px;
    width: 50%;
    margin: auto;
}
.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 10px;
    color: #444;
      font-weight: 500;
}
.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}
.food-container h2{
    font-size: 30px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}
.form-container a{
    font-size: 12px;
}
#footer marquee{
    text-align: center;
    background: rgb(65, 65, 65 );
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    color: #fff;
}